<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>

			</footer>
		</body>
	</html>
